.submit-form {
  max-width: 300px;
  margin: auto;
}

.comment {
  display: flex;
  margin-bottom: 10px;
}

.comment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-body p {
  margin: 0;
}

.comment-actions {
  display: flex;
  margin-top: 5px;
}

.comment-action {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.comment-action span {
  margin-left: 5px;
}

.comment-action:hover {
  text-decoration: underline;
}

/* Estilos de formulario de comentarios */

.comment-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.comment-form textarea {
  margin-bottom: 10px;
  height: 100px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}

.comment-form button {
  background-color: #6495ff;
  color: rgb(255, 39, 39);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #74ff7e;
}

.form-group {
  
  background-color: #0b130d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(231, 231, 231);
  color: rgb(122, 235, 255);
}

.list-row {
  background-image: url("img/ODA.jpg");
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(10, 6, 6);
  color: rgb(229, 212, 212);
  margin-bottom: 10px;
}

.list-group{
  background-color: #1b26ff;
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

h2{
  color: rgb(15, 6, 6);
  line-height: 9;
  letter-spacing: 10px;
  font-size: 70px;
  text-align: center;
  background-image: url("img/sipo3.webp");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size:contain;
}

body{
  background-image: url("img/dede2.jpg");
  
  background-color:rgb(49, 198, 198);
}